# course config files
*.yaml

# gradle
.gradle/
build


# idea config
.idea

# old stages
/Battleship/*
!/Battleship/task/
/Battleship/task/*
!/Battleship/task/src

# Project exclude paths
/Topics/Try with resources/Can be fixed/out/
/Topics/Try with resources/Can be fixed/out/production/classes/